<a href='Node.js/deploy_netlify.txt' target='_blank'>deploy nodejs to netlify</a>
<br><a href='Node.js/expressjs.txt' target='_blank'>express.js</a>
<br><a href='googleAppScript.txt' target='_blank'>app script</a>
<br><a href='laravel.txt' target='_blank'>laravel</a>
<br><a href='laravel_helper.txt' target='_blank'>laravel (function) helper</a>
<br><a href='digitalocean_appplatform_github_laravel.txt' target='_blank'>digital ocean + app platform + laravel + github</a>
<br><a href="laravel-spatie-permission.txt">laravel spatie permission</a>

<br><a href="laravel.md">laravel</a>
<br><a href="laravel-jetstream.md">laravel jetstream</a>
<br><a href="laravel-spatie-activitylog.md">laravel spatie actvitilog</a>
<hr>
<br><a href='php-multilevel-category.txt'>php multi level category</a>
<pre>
git
---
git init

add to stage -> 
	git add .

save ->
git commit [-a][--ammend] -m "message"
	-a = automatically add to stage
	--ammend = ammend last commit message

branch ->
git branch [-a][-r][-d]
	-a = local/remote branch
	-r = remote branch only
	-d = delete branch
git checkout [-b] &lt;branch name&gt;
	-b = create and move to new branch
git push origin -d &lt;branch name&gt;
	delete remote branch
git merge &lt;branch name&gt;

[adding_remote_repository]
git remote add origin &lt;url&gt;

fetch ->
git fetch origin
git merge origin
git pull origin

push ->
git push [--set-upstream] origin &lt;branch name&gt;
	--set-upstream = push new locally created branch

clone ->
git clone &lt;url.git&gt; [-b &lt;branch name&gt;]

revert ->
git revert HEAD --no-edit
	revert latest changes and commit
	--no-edit = skip commit message editor
git reset &lt;commit hash&gt;

/// 

.gitignore
.git/info/exclude

[kiv] git remote add origin git@github.com:w3schools-test/hello-world.git

git remote show origin

git status [--short]
	?? - untracked
	A  - files added to stage
	M  - modified files
	D  - deleted files

git log [--oneline]

gitlab protected branch ->
settings > repository > protected branches
</pre>
